/* Estilo para o corpo da página */
body {
    font-family: sans-serif; /* Definir uma fonte padrão */
    margin: 0; /* Remover margens */
    padding: 0; /* Remover preenchimento */
}

.banner {
    display: none; /* Inicialmente, o banner está oculto */
}

.banner.fade-in {
    display: block; /* Quando a classe fade-in é adicionada, o banner é exibido */
    animation: fadeIn 0.5s ease-in-out forwards;
}

.chart-container {
    width: 100%;
    max-width: 600px; /* Defina o tamanho máximo para o gráfico */
    height: 400px; /* Ajuste a altura conforme necessário */
    margin: 0 auto; /* Centralize o contêiner */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Exibir como flexbox */
    justify-content: space-between; /* Alinhar itens */
    align-items: center; /* Alinhar itens */
}

/* Estilo para o contêiner dos gráficos em telas menores */
@media screen and (max-width: 768px) {
    .chart-container {
        height: 200px; /* Ajustar altura para telas menores */
    }
}

/* Estilos CSS para o banner */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

nav ul {
    list-style: none; /* Remover marcadores de lista */
    display: flex; /* Exibir como flexbox */
}

nav ul li {
    margin-right: 20px; /* Margem à direita entre os itens */
}

/* Efeito hover */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

/* Efeito hover */
nav ul li a:hover {
    background-color: gray; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
    color: #FFD700; /* Cor de texto ao passar o mouse */
}
