RewriteEngine On

# Roteia todas as requisições para a pasta backend
RewriteRule ^backend/(.*)$ backend/$1 [L]

# Roteia todas as outras requisições para o frontend/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ frontend/index.php [L]
